/* navbar */
.navbar {
  display: flex;
  place-content: center;
  align-items: center;
  gap: 38rem;
  background-color: var(--Nav-intro);
  padding: 2rem 2rem;
  color: var(--White);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navbar.active {
  background-color: var(--Dark-Blue-main-bg);
  transition: 0.6s ease-in-out all;
}
.navlinks {
  display: flex;
  gap: 2.5rem;
}
.navlink {
  color: var(--White);
  cursor: pointer;
  font-size: 1.2rem;
}
.navlink:active {
  color: var(--Cyan);
}
.navlink:hover {
  color: var(--Cyan);
  transition: 0.6s ease-in-out all;
}
.menu,
.close-icon {
  display: none;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
  margin:  auto 0;
  text-align: center;
  height: 100%;
  padding: 5rem 1rem;
  background: url(../images/background-destination-desktop.jpg) center no-repeat;
  background-size: cover;
}
main h1 {
  line-height: 2.8rem;
  font-size: 2.5rem;
  margin-top: 3rem;
}
main p {
  line-height: 2.5rem;
  font-size: 1.5rem;
  width: 40rem;
}
.hero-cont {
  width: 100%;
}
.hero {
  z-index: 3;
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.2rem solid var(--Bord);
  -webkit-animation: idan 8s ease-in-out infinite;
  animation: idan 8s ease-in-out infinite;
}

@keyframes idan {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.main-bottom {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.stacks {
  display: flex;
  gap: 1rem;
}
.tech-icon {
  width: 3.65rem;
  height: 3.65rem;
  background-color: var(--Nav-intro);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}
.tech-icon:hover {
  color: var(--Cyan);
  transform: rotate(360deg);
  transition: 1s ease-in-out all;
}

/* About */
#about {
  padding: 5rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  place-items: center;
}
.about h1 {
  line-height: 3rem;
  width: 33.5rem;
  text-align: center;
  font-size: 2.2rem;
}
.about p {
  font-size: 1.3rem;
  line-height: 2rem;
  width: 55.5rem;
  text-align: center;
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
  z-index: -3rem;
}
.tools{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  place-content: center;
}
/* work */
.works{
  background-color: var(--Dark-Blue-main-bg);
  padding: 4rem 4rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}
.boxes{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  gap: 2rem;
  place-content: center;
  flex-wrap: wrap;
}
.box{
  width: 21rem;
  cursor: pointer;
  position: relative;
  
}
.hack{
  width: 100%;
  height: 15rem;
  display: block;
  margin: auto;
  border-radius: .9rem;
}
.box-content{
  padding: 0 1.5rem;
  border-radius: .9rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9); 
  display: flex;
  gap: .7rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: .6s;
  text-align: center;

}
.box-content:hover{
  opacity: 1;
}
.box-content > *{
  transform: translateY(25px);
  transition: transform .6s;
}
.box-content:hover > *{
  transform: translateY(0px);
  transition: transform .6s;
}
.box:hover{
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transition: .3s ease-in-out all;
  border-radius: .9rem;
}
.box h2{
  line-height: 2.2rem;
}
.box p{
  line-height: 1.8rem;
}
.btn{
  background-color: var(--Cyan);
  padding: .8rem .16rem;
  width: 10rem;
  border-radius: 2rem;
  margin: auto;
  color: var(--Dark-Blue-main-bg);
  font-size: 1.1rem;
  font-weight: 500;
}
.btn:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  background-color: var(--btn-bg);
  transition: .6s ease-in-out all;
}
.click{
  width: 3rem;
  height: 3rem;
  background-color: var(--Cyan);
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  color: var(--Dark-Blue-main-bg);
}
.click:hover {
  transform: rotate(360deg);
  transition: 1s ease-in-out all;
}
.pro{
  margin: 7rem 0;
}
/* contact */
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  background-color: var(--Dark-Blue-main-bg);
  width: 43rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 0;
  gap: 2rem;
  border-radius: .6rem;
}
form{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
}
.inputBox{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
input{
  padding: 1rem;
  width: 18rem;
  border-radius: .6rem;
  cursor: pointer;
  font-size: 1.01rem;
}
input:hover, textarea:hover{
  border: .2rem solid var(--Cyan);
  transition: .6s ease-in-out all;
}
textarea{
  padding: 1rem;
  border-radius: .6rem;
  cursor: pointer;
  font-size: 1.01rem;
}
/* contact-cont */
.contact-cont{
  background-color: var(--Dark-Blue-testimonial-bg);
  position: absolute;
  top: 0;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2rem;
  width: 35rem;
  border-radius: .6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* footer */
footer{
  background-color: var(--Dark-Blue-footer-bg);
  display: flex;
  place-content: center;
  align-items: center;
  padding: 8rem 2rem 2rem;
  gap: 38rem;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
}
footer p{
  line-height: 1.8rem;
}
